body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.top-container {
  background-color: #7efaff;
  padding-top: 50px;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}
h3
{
  font-family: 'Montserrat', sans-serif;
}

.cloud1 {
  position: relative;
  left: 20%;
}
.cloud2{
  position: absolute;
}
.profile-pic{
  border-radius: 100%;
}
.middle-container{
  background-color: #13abc4;
  padding-bottom: 20px;

}
.bottom-container{
  background-color: #3161a3;
  padding: 50px 0 20px

}
.im-a-programmer{
  font-weight: normal;
}

.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.web-dev-gif{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.music-gif{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.profile-pic{
  margin-top: 50px;
}
hr {
  border-style: none;
  width: 5%;
  border-top: 8px dotted white;
}
.btn {
	background-color:#3161a3;
	-webkit-border-top-left-radius:28px;
	-moz-border-radius-topleft:28px;
	border-top-left-radius:28px;
	-webkit-border-top-right-radius:28px;
	-moz-border-radius-topright:28px;
	border-top-right-radius:28px;
	-webkit-border-bottom-right-radius:28px;
	-moz-border-radius-bottomright:28px;
	border-bottom-right-radius:28px;
	-webkit-border-bottom-left-radius:28px;
	-moz-border-radius-bottomleft:28px;
	border-bottom-left-radius:28px;
text-indent:0;
	border:1px solid #f7f7f7;
	display:inline-block;
	color:#ffffff;
	font-family:'Montserrat' sans-serif;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #000000;
}.btn:hover {
	background-color:#2a33bd;
}.btn:active {
	position:relative;
	top:1px;
}
.footer-link{
  margin: 100px;
  margin-top: 50px
}

.cr-line{
  margin: 30px;
}
a{
  text-decoration: none;
  font-family: Montserrat sans-serif;
  margin: 10px 20px;
}
a:hover{
  color: white;
}
.cr-line{
  color: white;
  font-size: 0.75rem;
}
